.container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b";
}

.item3 {
  grid-column: a-start / a-end;
}
