html {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(to right, #e66465, #f6b73c);
}

.wrapper {
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

input {
    width: 100px;
    height: 50px;
    margin: 10px 20px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}