/* GENERAL STYLE */
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    position: fixed;
    top: 0;
    background: #9d65c9;
    width: 100vw;
    padding: 0px 50px;
}

.main-header h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.2rem;
    margin-left: 20px;
}

.main-header ul {
    display: flex;
    justify-content: space-around;
}

.main-header li {
    list-style: none;
    display: block;
    padding: 5px 10px;
    margin: 0px 5px;
}

.main-header a {
    text-decoration: none;
    font-size: 1.2rem;
}

/* HERO CONTAINER */

.hero {
    /* flex: 1; */
    min-height: 60vh;
    display: flex;
    align-items: center;
    margin-top: 80px;
    background: #2a3d66;
    color: #eee;
    padding-top: 10px;
}

.hero .img-wrapper, .hero .hero-content{
    flex: 1 50%;
    padding: 5px 10px;
    margin: 5px 10px;
}



.img-wrapper img{
    width: 100%;
    object-fit: cover;
}

.hero-content .button{
    width: 120px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 15px;
    background: cornflowerblue;
    text-align: center;
}

.hero-content h2 {
    margin-bottom: 30px;
}

.hero-content p {
    max-width: 75%;
    margin-bottom: 30px;
}

.button a {
    text-decoration: none;
    color: cornsilk;
    font-size: 1.2rem;
}

.button:hover {
    background: rgb(44, 114, 243);
}


/* GRID AREA */

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    padding: 10px 20px;
    background: #666;
}


.grid-wrapper img {
    width: 100%;
}


.card {
    background: gray;
    padding: 100px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    background: #9d65c9;
}